
interface Loopback0
 description Gabriele loopback
 ip address 172.16.{{id0}}.1 255.255.255.0
!
interface Loopback1
 description Gabriele loopback
 ip address 172.16.{{id1}}.1 255.255.255.0
!
interface Loopback2
 description Gabriele loopback
 ip address 172.16.{{id2}}.1 255.255.255.0
!
exit
!
no int Loopback0
no int Loopback1
no int Loopback2
